<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{base_url()}}/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">

    <title>{{ appName }} - {{ page.title }}</title>

    {% if customUI == 'trios' %}
    <link rel="shortcut icon" href="assets/images/favicon.png" />
    {% endif %}

    <link rel="stylesheet" href="assets/css/custom-fonts.css" media="print"
        onload="this.media='all';this.onload = null;" />

    {% if siteEnv == 'prod' %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/{{customUI}}/custom-style.min.css?v2.0.1" media="print"
        onload="this.media='all';this.onload = null;" />

    {% else %}

    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/{{customUI}}/custom.css" />
    <!-- {% block stylecontent %} {% endblock %} -->
    {% endif %}

    <link rel="stylesheet" href="assets/css/fontello.min.css" media="print"
        onload="this.media='all';this.onload = null;" />
</head>

<body>
    {% include customUI ~ '/navigation.twig' %}

    <main role="main">
        {% block content %} {% endblock %}
    </main>

    {% include customUI ~ '/footer.twig' %}

    {% if siteEnv == 'prod' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    {% else %}
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    {% endif %}

    {% block scriptcontent %}{% endblock %}
</body>

</html>