<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{base_url()}}/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#fff">
    <title>{{ appName }} - Login</title>
    <link rel="stylesheet" href="assets/css/login.css">
</head>

<body>
    <nav class="navbar bg-dark-cyan">
        <a class="navbar-brand" href="{{ path_for('home') }}">{{ appName }}</a>
    </nav>

    <aside class="form-signin col-sm-4">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Sign in</h4>

                {% include 'flash.twig' %}

                <form action="{{ path_for('login') }}" method="POST" role="form" autocomplete="off">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control {{errors.username ? 'is-invalid' : ''}}" id="username"
                            name="username" placeholder="Username" type="username" value="{{ old.username }}">
                        {% if errors.username %}
                        <div class="invalid-feedback">
                            {{ errors.username | first }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control {{errors.password ? 'is-invalid' : ''}}" id="password"
                            name="password" placeholder="Password" type="password">
                        {% if errors.password %}
                        <div class="invalid-feedback">
                            {{ errors.password | first }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-cyan btn-block" type="submit">
                            Login
                        </button>
                    </div>
                </form>
            </article>
        </div>
    </aside>
</body>

</html>