<aside class="main-sidebar sidebar-light-info elevation-4">
    <a class="brand-link" href="{{ path_for('home') }}">
        <span class="brand-text font-weight-light">{{ appName }}</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('home') }}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('title') }}">
                        <i class="nav-icon far fa-edit"></i>
                        <p>Title Update</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('sensors') }}">
                        <i class="nav-icon fas fa-table"></i>
                        <p>View IOT Data</p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-tablet-alt"></i>
                        <p>
                            Device Control
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('device.switch') }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Device On/Off Buttons</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('device.serialData') }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Serial Data to Device</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('locations') }}">
                        <i class="nav-icon fas fa-map-marker-alt"></i>
                        <p>Location Details</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('reset') }}">
                        <i class="nav-icon fas fa-undo"></i>
                        <p>Reset Sensor Data</p>
                    </a>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>
                            Settings
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('setting.sensor') }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sensors</p>
                            </a>
                        </li><li class="nav-item">
                            <a class="nav-link" href="{{ path_for('setting.device') }}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Devices</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
