{% extends 'user/layout.twig' %}

{% block content %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card card-info">
            <form action="{{ path_for('user.changePassword') }}" method="post" autocomplete="off" role="form" class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="newPassword">New Password</label>
                        <input class="form-control {{errors.newPassword ? 'is-invalid' : ''}}" id="newPassword" name="newPassword" placeholder="New Password" type="password">
                        {% if errors.newPassword %}
                            <div class="invalid-feedback">
                                {{ errors.newPassword | first }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group row">
                        <label for="cnfNewPassword">Confirm New Password</label>
                        <input class="form-control {{errors.cnfNewPassword ? 'is-invalid' : ''}}" id="cnfNewPassword" name="cnfNewPassword" placeholder="Confirm New Password" type="password">
                        {% if errors.cnfNewPassword %}
                            <div class="invalid-feedback">
                                {{ errors.cnfNewPassword | first }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button class="btn btn-cyan" type="submit" id="submitBtn">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
