{% extends 'user/layout.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-info">
        <form action="{{ path_for('setting.sensorType') }}" method="post" autocomplete="off" role="form" class="form-horizontal">
                <div class="card-body">

                    {% for i in 1..8 %}
                        {% set sensorName = "sensor" ~ i ~ "_name" %}
                        {% set sensorType = "sensor" ~ i ~ "_type" %}
                        {% set sensorPin = "sensor" ~ i ~ "_pin" %}
                        {% set lowThreshold = "sensor" ~ i ~ "_low_threshold" %}
                        {% set highThreshold = "sensor" ~ i ~ "_high_threshold" %}
                        {% set sensorNameValue = userSensors[sensorName] %}
                        {% set sensorTypeValue = (sensorNameValue != 0) ? sensors[sensorNameValue].sensor_type : '' %}
                        {% set sensorPinValue = userSensors[sensorPin] %}
                        {% set lowThresholdValue = userSensors[lowThreshold] %}
                        {% set highThresholdValue = userSensors[highThreshold] %}

                    <div class="form-row" data-id="{{i}}">
                        <label class="col-sm-1 col-form-label" for="{{sensorName}}">
                            Sensor {{i}}
                        </label>
                        <div class="col-sm-2">
                            <select class="custom-select sensor-name" name="{{sensorName}}">
                                <option value="" data-type="">--Select--</option>

                                {% for sensor in sensors %}

                                <option value="{{sensor.sensor_type_id}}"
                                    {{ (sensor.sensor_type_id == sensorNameValue) ? 'selected' : ''}}
                                    data-type="{{sensor.sensor_type}}" >
                                    {{sensor.sensor_name}}
                                </option>

                                {% endfor %}
                            </select>
                        </div>

                        <label class="col-form-label">Type</label>
                        <div class="col-sm-1">
                            <input type="text" class="form-control sensor-type" id="{{sensorType}}" value="{{sensorTypeValue}}" {{ (sensorTypeValue is not empty) ? 'readonly' : 'disabled'}} >
                        </div>

                        <label class="col-form-label">PIN Number</label>
                        <div class="col-sm-2">
                            <select class="custom-select sensor-pin" name="{{sensorPin}}" id="{{sensorPin}}" {{ (sensorTypeValue is not empty) ? '' : 'disabled'}}>
                                <option value="" data-type="">--Select--</option>
                                    {% set prefix = 'P' %}

                                    {% for i in 1..8 %}

                                        <option value="{{prefix~i}}"
                                        {{ (prefix~i == sensorPinValue) ? 'selected' : ''}}>
                                        {{prefix~i}}
                                        </option>

                                    {% endfor %}
                            </select>
                            <div class="invalid-feedback">Pin should not be empty/duplicate</div>
                        </div>

                        <label class="col-form-label">Low Threshold</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control sensor-type" name="{{lowThreshold}}" id="{{lowThreshold}}" value="{{lowThresholdValue}}" min="0">
                        </div>

                        <label class="col-form-label">High Threshold</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control sensor-type" name="{{highThreshold}}" id="{{highThreshold}}" value="{{highThresholdValue}}" min="0">
                        </div>
                    </div>

                    <hr>

                    {% endfor %}

                    <div class="form-group row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <button class="btn btn-cyan" type="submit" id="submitBtn">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scriptcontent %}
<script>
var selectedPinNumber = [];

$(document).ready(function() {
    // sensor name dropdown change
    $('.sensor-name').on('change', function() {
        let rowId = $(this).parent().parent().data('id');
        let sensorType = $(this).find(':selected').data('type');

        $('#sensor' + rowId + '_type').val(sensorType);
        if (sensorType != '') {
            $('#sensor' + rowId + '_type').removeAttr('disabled').prop('readonly',true);
            $('#sensor'+ rowId +'_pin').prop('disabled', false);
        } else {
            $('#sensor' + rowId + '_type').removeAttr('readonly').prop('disabled',true);
            $('#sensor'+ rowId +'_pin').val('').prop('disabled', true);
        }
    });

    // pin number dropdown change
    $('.sensor-pin').on('change', function() {
        let rowId = $(this).parent().parent().data('id');
        let pinNumber = $(this).find(':selected').val();

        if (pinNumber == '') {
            $('#sensor'+rowId+'_pin').addClass('is-invalid');
        } else {
            $('#sensor'+rowId+'_pin').removeClass('is-invalid');
        }
    });

    $("#submitBtn").click(function(e) {
        let isValid = true;

        // isValid = validateSensorType();
        isValid = validatePinNumber();
        if (!isValid) {
            e.preventDefault();
        }
    })
});

function validatePinNumber()
{
    let isValid = true;
    let selectedPinNumber = [];

    $('.sensor-pin').not(':disabled').each(function() {
        let pinNumber = $(this).find(':selected').val();
        let rowId = $(this).parent().parent().data('id');

        if (pinNumber === '') {
            $('#sensor'+rowId+'_pin').addClass('is-invalid');

            isValid = false;
        }

        // check pin is not duplicate
        if (selectedPinNumber.includes(pinNumber)) {
            $('#sensor'+rowId+'_pin').addClass('is-invalid');
            isValid = false;
        }

        selectedPinNumber.push(pinNumber);
    });

    return isValid;
}
</script>
{% endblock %}
