<!--Navbar Start-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-border">
    <div class="container">
        <a href="{{ path_for('home') }}" class="navbar-brand" title="Go to IOT Home">
            <i class="icon-home"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar"
            aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsingNavbar">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{{ path_for('home') }}" title="Go to Home Page">Home</a>
                <a class="nav-link" href="{{ path_for('board') }}" title="Go to IOT Learning Board Page">IOT Learning
                    Board</a>

                {% if auth.check %}
                <a class="nav-link" href="{{ path_for('user.dashboard') }}" title="Go to User Dashboard">Dashboard</a>
                <a href="{{ path_for('logout') }}" class="btn btn-primary">Logout</a>
                {% else %}
                <a href="{{ path_for('login') }}" class="btn btn-primary" title="Go to Login Page">Sign In</a>
                {% endif %}


            </div>
        </div>
    </div>
</nav>
<!--Navbar End-->